body{
background-color: lightcoral;
}

.homepage{
font-size: xx-large;
font-family: fantasy;
text-align: center;
border-style: dashed;
border-color: aqua;
}

.nav-list{
background-color: lightgray;
font-size: x-large;
border-style: double;
border-color: aquamarine;

}

ul{
    list-style-type: none;
    }
    
    li{
    display:inline;
    padding: 10px;
    font-size: x-large;
    
    }
    .about1{
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua;
}

.about2{
    font-size:medium;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua;
}

.about3{
    font-size:medium;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua;


}

.about4{
    font-size:medium;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua;


}


img{
    max-width: 40%;
    max-height: 40%;
    margin-left: 70px;
    
}

.Projectintro{
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua;
}


.Project1 {
    font-size:medium;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua; 
    
}

.Project2 {
    font-size:medium;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua; 
    

}

.Project3{

    font-size:medium;
    font-family: fantasy;
    text-align: center;
    border-style: dashed;
    border-color: aqua; 

}